{% extends "base.html" %}

{% block content %}
<div class="text-center">
    {% if next %}
        {% if user.is_authenticated %}
            <p>Su cuenta no tiene acceso a esta página. Para continuar, inicie sesión con una cuenta que tenga acceso.</p>
        {% else %}
            <p>Por favor inicie sesión para ver esta página.</p>
        {% endif %}
    {% endif %}
    {% if form.errors %}
        <p>Su nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.</p>
    {% endif %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Por favor inicie sesión</h1>
        <label for="inputEmail" class="sr-only">Nombre de usuario</label>
        <p>{{ form.username }}</p>
        <label for="inputPassword" class="sr-only">contraseña</label>
        <p>{{ form.password }}</p>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div> 
{# Assumes you setup the password_reset view in your URLconf #}
<!--<p><a href="{% url 'password_reset' %}">Lost password?</a></p>-->

{% endblock %}