{% extends "base.html" %}

{% block content %}
    <h2 class="text-center mb-4" >Contratos
        {% if user.is_student %}
            <a href=" {% url 'contrato-alumno-add' %} "><button type="button" class="btn btn-sm btn-outline-primary">AÑADIR</button></a>
        {% endif %}
        {% if user.is_staff or user.is_teacher %}
            <a href=" {% url 'contrato-add' %} "><button type="button" class="btn btn-sm btn-outline-primary">AÑADIR</button></a>
        {% endif %}
    </h2>
    <form class="form-inline mt-2 mb-4" action="{% url 'contrato-search' %}" method="get">
        <div class="row">
            <div class="col-md-6">
                <input type="search" name="a" placeholder="buscar alumno" class="form-control form-control mr-sm-2" />
            </div>
            <div class="col-md-6">
                <input type="search" name="e" placeholder="buscar empresa" class="form-control form-control mr-sm-2" />
            </div>
            <div class="text-end">
                <button type="submit" value="Save" class="btn btn-sm btn-outline-primary">BUSCAR</button>
            </div>
        </div>   
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Alumno</th>
                <th scope="col">Empresa</th>
                <th scope="col">Practica</th>
                <th scope="col">Inico</th>
                <th scope="col">Fin</th>
                <th scope="col">Edicion</th>
            </tr>
        </thead>
        <tbody>
            {% for contrato in object_list %}
                <tr>
                    <td>{{ contrato.alumno.nomAlu }}</td>
                    <td>{{ contrato.empresa.nomEmp }}</td>
                    <td>
                        {% if contrato.pra %}
                            X
                        {% endif %}
                    </td>
                    <td>{{ contrato.iniCon }}</td>
                    <td>{{ contrato.finCon }}</td>
                    <td>
                        <div class="btn-group">
                            <a href=" {% url 'contrato-update' contrato.id %} "><button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>
                            <a href=" {% url 'contrato-delete' contrato.id %} "><button type="button" class="btn btn-sm btn-outline-danger">Delete</button></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}