{% extends "base.html" %}

{% block content %}
    <h2 class="text-center mb-4" >Contactos
        <a href=" {% url 'contacto-add' %} "><button type="button" class="btn btn-sm btn-outline-primary">AÑADIR</button></a>
    </h2>
    <div class="row">
        <form class="form-inline mt-2 mb-4" action="{% url 'contacto-search' %}" method="get">
            <div class="row">
                <div class="col-md-6">
                    <input type="search" name="c" placeholder="buscar contacto" class="form-control form-control mr-sm-2" />
                </div>
                <div class="col-md-6">
                    <input type="search" name="e" placeholder="buscar Empresa" class="form-control form-control mr-sm-2" />
                </div>
                <div class="text-end">
                    <button type="submit" value="Save" class="btn btn-sm btn-outline-primary">BUSCAR</button>
                </div>
            </div>   
        </form>
    </div>
    <div class="row">
        {% for contacto in object_list %}
            <div class="col-md-3">
                <div class="card p-4 mb-4 box-shadow ">
                    <p class="text-center mb-2"><a href=" {% url 'contacto-detail' contacto.user.id %} ">{{ contacto }}</a></p>
                    <p class="text-center mb-2">{{ contacto.empresa }}</p>
                    <div class="btn-group">
                        <a href=" {% url 'contacto-update' contacto.user.id %} "><button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>
                        <a href=" {% url 'contacto-delete' contacto.user.id %} "><button type="button" class="btn btn-sm btn-outline-danger">Delete</button></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}