{% extends "base.html" %}

{% block content %}
    <h2 class="text-center mb-4" >Empresa</h2>
    <img style="height: 64px; width: 64px; display: block;" class="float-end" src="/media/{{ object.logo }}" alt="Logo Empresa">
    <p><b>Nombre</b>: {{ object.nomEmp }}</p> 
    <p><b>Razon</b>: {{ object.razon }}</p>
    <p><b>Numero de trabajadores</b>: {{ object.numTra }}</p>
    <p><b>Web</b>: <a href="{{ object.web }}">Link</a></p>
    <p><b>Forma</b>: {{ object.forma }}</p>
    <p><b>Ramo</b>: {{ object.ramo }}</p>
    <p><b>Tamaño</b>: {{ object.tam }}</p>
    <h2>Sede <a href=" {% url 'sede-add' %} "><button type="button" class="btn btn-sm btn-outline-primary">AÑADIR</button></a></h2>
    {% for sede in object.sede_set.all %}
        <p><b>CP</b>: {{ sede.cpSed }}</p>
    {% endfor %}
    <h2>Contactos <a href=" {% url 'contacto-add' %} "><button type="button" class="btn btn-sm btn-outline-primary">AÑADIR</button></a></h2>
    {% for contac in object.contacto_set.all %}
        <p>
            <a href="{% url 'contacto-detail' contac.user.id %}">{{ contac.empleado.nomEmp }}</a>
            <a href=" {% url 'contacto-update' contac.user.id %} "><button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>
            <a href=" {% url 'contacto-delete' contac.user.id %} "><button type="button" class="btn btn-sm btn-outline-danger">Delete</button></a>
        </p> 
    {% endfor %}
{% endblock %}