{% extends "base.html" %}

{% block content %}
    <h1 class="text-center">
        {{ object.nomOfe }}
        {% if not user.is_student %}
            <div class="btn-group">
                <a href=" {% url 'oferta-update' object.id %} "><button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>
                <a href=" {% url 'oferta-delete' object.id %} "><button type="button" class="btn btn-sm btn-outline-danger">Delete</button></a>
            </div>
        {% endif %}
    </h1>
    <p><b>Empresa</b>: {{ object.empresa }}</p>
    <p><b>Contacto</b>: {{ object.contacto }}</p>
    <p><b>Fecha de oferta</b>: {{ object.fofe }}</p>
    <p><b>Dinero al año</b>: {{ object.kas }}€</p>
    <p><b>Teletrabajo</b>: 
        {% if object.tele %}
            Si
        {% else %}
            No
        {% endif %}
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Perfiles</th>
                <th scope="col">Herramientas</th>
                <th scope="col">Requisitos</th>
                <th scope="col">Funciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% for perfil in object.competencias.all %}
                        <p>{{ perfil }}</p>
                    {% endfor %}
                </td>
                <td>
                    {% for tool in object.toolboxes.all %}
                        <p>{{ tool }}</p>
                    {% endfor %}
                </td>
                <td>
                    {% for requisito in object.especifaciones.all %}
                        <p>{{ requisito }}</p>
                    {% endfor %}
                </td>
                <td>
                    {% for funcion in object.bibliotecas.all %}
                        <p>{{ funcion }}</p>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}