{% extends "base.html" %}

{% block content %}
    <h2 class="text-center mb-4" >Practica
        <a href=" {% url 'practica-add' %} "><button type="button" class="btn btn-sm btn-outline-primary">AÑADIR</button></a>
    </h2>
    <form class="form-inline mt-2 mb-4" action="{% url 'practica-search' %}" method="get">
        <div class="row">
            <div class="col-md-3">
                <input type="search" name="a" placeholder="buscar alumno" class="form-control form-control mr-sm-2" />
            </div>
            <div class="col-md-3">
                <input type="search" name="c" placeholder="buscar ciclo" class="form-control form-control mr-sm-2" />
            </div>
            <div class="col-md-3">
                <input type="search" name="p" placeholder="buscar profesor" class="form-control form-control mr-sm-2" />
            </div>
            <div class="col-md-3">
                <input type="search" name="o" placeholder="buscar contacto" class="form-control form-control mr-sm-2" />
            </div>
            <div class="text-end">
                <button type="submit" value="Save" class="btn btn-sm btn-outline-primary">BUSCAR</button>
            </div>
        </div>   
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Alumno</th>
                <th scope="col">Ciclo</th>
                <th scope="col">Profesor</th>
                <th scope="col">Contacto</th>
                <th scope="col">Edicion</th>
            </tr>
        </thead>
        <tbody>
            {% for practica in object_list %}
                <tr>
                    <td>{{ practica.alumno.nomAlu }}</td>
                    <td>{{ practica.ciclo.abre }}</td>
                    <td>{{ practica.profesor.empleado.nomEmp }}</td>
                    <td>{{ practica.contacto.empleado.nomEmp }}</td>
                    <td>
                        <div class="btn-group">
                            <a href=" {% url 'practica-detail' practica.id %} "><button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button></a>
                            <a href=" {% url 'practica-update' practica.id %} "><button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>
                            <a href=" {% url 'practica-delete' practica.id %} "><button type="button" class="btn btn-sm btn-outline-danger">Delete</button></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}