{% extends "base.html" %}

{% block content %}
    <h2 class="text-center mb-4" >Sedes
        <a href=" {% url 'sede-add' %} "><button type="button" class="btn btn-sm btn-outline-primary">AÑADIR</button></a>
    </h2>
    <form class="form-inline mt-2 mb-4" action="{% url 'sede-search' %}" method="get">
        <div class="row">
            <div class="col-md-6">
                <input type="search" name="e" placeholder="buscar empresa" class="form-control form-control mr-sm-2" />
            </div>
            <div class="col-md-6">
                <input type="search" name="c" placeholder="buscar codigo postal" class="form-control form-control mr-sm-2" />
            </div>
            <div class="text-end">
                <button type="submit" value="Save" class="btn btn-sm btn-outline-primary">BUSCAR</button>
            </div>
        </div>   
    </form>
    <div class="row">
        {% for sede in object_list %}
            <div class="col-md-3">
                <div class="card p-4 mb-4 box-shadow ">
                    <p class="text-center mb-2">{{ sede.empresa }}</p>
                    <p class="text-center mb-2">{{ sede.cpSed }}</p>
                    <div class="btn-group">
                        <a href=" {% url 'sede-update' sede.id %} "><button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>
                        <a href=" {% url 'sede-delete' sede.id %} "><button type="button" class="btn btn-sm btn-outline-danger">Delete</button></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}