{% extends "base.html" %}

{% block content %}
    <h2 class="text-center mb-4" >Trayectos
        <a href=" {% url 'trayecto-add' %} "><button type="button" class="btn btn-sm btn-outline-primary">AÑADIR</button></a>
    </h2>
    <form class="form-inline mt-2 mb-4" action="{% url 'trayecto-search' %}" method="get">
        <div class="row">
            <div class="col-md-4">
                <input type="search" name="a" placeholder="buscar alumno" class="form-control form-control mr-sm-2" />
            </div>
            <div class="col-md-4">
                <input type="search" name="c" placeholder="buscar ciclo" class="form-control form-control mr-sm-2" />
            </div>
            <div class="col-md-4">
                <input type="search" name="f" placeholder="buscar promo" class="form-control form-control mr-sm-2" />
            </div>
            <div class="text-end">
                <button type="submit" value="Save" class="btn btn-sm btn-outline-primary">BUSCAR</button>
            </div>
        </div>   
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Alumno</th>
                <th scope="col">Ciclo</th>
                <th scope="col">Promocion</th>
                <th scope="col">Edicion</th>
            </tr>
        </thead>
        <tbody>
            {% for trayecto in object_list %}
                <tr>
                    <td>{{ trayecto.alumno.nomAlu }}</td>
                    <td>{{ trayecto.ciclo }}</td>
                    <td>{{ trayecto.fpromo }}</td>
                    <td>
                        <div class="btn-group">
                            <a href=" {% url 'trayecto-update' trayecto.id %} "><button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>
                            <a href=" {% url 'trayecto-delete' trayecto.id %} "><button type="button" class="btn btn-sm btn-outline-danger">Delete</button></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}